ul {
  list-style: none;
}

header {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 0;
  background-color: #d7eaf6;
  border-bottom: 0.1em solid rgb(154, 196, 250);
  box-shadow: 0.2em 0 0.1em rgb(154, 196, 250);
  align-items: center;
}

body {
  margin: 0px;
}

.logo {
  height: 40px;
}

.button {
  color: white;
  Border: 0.1em;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bolder;
}

.navelem:hover {
  cursor: pointer;
  transform: scale(1.1);}

.mainButton {
  background-color: #1bb76e;
  box-shadow: 0.1em 0.1em 0.05em darkcyan;
}

.mainButton:hover {
  box-shadow: 0.3em 0.3em 0.1em darkcyan;
}

.secondaryButton {
  background-color: #1b7eb7;
  box-shadow: 0.1em 0.1em 0.05em rgb(13, 72, 109);
}

.secondaryButton:hover {
  box-shadow: 0.3em 0.3em 0.1em rgb(13, 72, 109);
}

.buscar {
  background-color: white;
  border: 0.1em solid gray;
  padding: 0.2em;
  border-radius: 0.3em;
}

.buscar:focus-within {
  border: 0.13em solid blue;
  transform: scale(1.1);
}

.buscar:hover {
  box-shadow: 0.3em 0.3em 0.1em rgb(214, 224, 231);
}

.buscar > input {
  border: 0;
  outline: none;
  width: 20em;
}

.imgSize {
  height: 10em;
  width: 10em;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5vw;
  border: 0.1em solid #1bb76e;
  box-shadow: 0.1em 0.2em 0.1em #1bb76e;
  border-radius: 5%;
}

.imgContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 0%;
}

.imgContainer > img {
  border-radius: 2em;
  margin-bottom: 0.2em;
}

.imgContainer > div {
  text-align: center;
  background-color: #023f23;
  color: white;
  font-weight: bold;
  width: 100%;
  padding-top: 0.3em;
}

.imgContainer > div > label {
  font-size: large;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.breedCardContainer {
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

.interaction {
  display: flex;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size:small;
  justify-content: space-around;
}

.interaction > li {
  display: flex;
  align-items: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.titulo {
  text-align: center;
  color: #023f23;
  font-weight: bold;
  font-size: xx-large;
}

.fa-heart {
  color: red;
}